* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  background: #2e5559;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
}

.login__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__box {
  background-color: #ffffff;
  width: 400px;
  border-radius: 4px;
  padding: 2em 2em;
}

.login__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  gap: 1em;
}

.login__information h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #2e5559;
}

.login__information p {
  font-size: 12px;
  font-weight: 500;
  color: #2e5559;
  text-align: center;
}

input {
  width: 100%;
  padding: 0.5em;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgb(187, 182, 182);
  margin: 0.5em 0;
}

button {
  width: 100%;
  padding: 1em 1em;
  border-radius: 4px;
  border: 1px solid #2e5559;
  background-color: #2e5559;
  color: #ffffff;
  font-weight: bold;
  margin: 1em 0;
  cursor: pointer;
}

.login__check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 2em;
}

.login__check a {
  color: #2e5559;
}

.btn-facebook {
  background-color: #3b5998;
  border: none;
  margin: 0;
}

.btn-google {
  background-color: #dd4b39;
  border: none;
}

@media (max-width: 768px) {
  .login__box {
    width: 350px;
  }
}

@media (max-width: 500px) {
  .login__box {
    width: 90%;
  }
}
